html, body, div, p, form, input, textarea{
	margin:0;
	padding:0;
}

body {
	background-color: #C8E913
}
p, div{
background-color: #7B873C;

}
div p{
color: #EF1313;
}

.class1{
	border: 2px solid #823C3C;
}

#unique {
	width: 250px;
}

ul, h1, div{
	width: 400px;
}

div {
	margin: 0 auto;
}
label {
	display: block;
}
form {
	width: 350px;
	margin:0 auto;
}
input, textarea {
	width: 300px;
}

textarea{
	height: 300px;
}
